/*
	RESET & BASIC SETUP
*/

* {
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #121212;
	color: #999; 
	padding: 20px;
}

tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post { 
    padding-right: 15px;
	width: 800px; 
    font-size: 12px;
    line-height: 1.4em;
    margin-left: 25px;
   
}

/*
    NAVIGATION 
*/
.nav li{
    float: left;
    padding: 5px;
    margin: 5px;
    color: #aaa;
    font-size: 20px;
    padding:30px;
    list-style: none;
    color: aqua;
    
    
    
    
}
/*
	TYPOGRAPHY
*/
p { font-size: 1.2em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #ccc; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
    margin-bottom: 25px;
							  letter-spacing: -1px; color: #ccc; }
a { color: #0066cc; }
a:hover { color: #ccc; }

